body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f4f6f9;
}

/* HEADER */
header {
  background: #0d6efd;
  color: white;
  text-align: center;
  padding: 20px;
}

/* NAV */
nav {
  background: #084298;
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 10px;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
}

/* HERO */
.hero {
  text-align: center;
  padding: 50px;
  background: white;
}

.hero button {
  padding: 10px 20px;
  background: #0d6efd;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.hero button:hover {
  background: #084298;
}

/* SECTIONS */
section {
  padding: 40px;
  text-align: center;
}

/* GRID */
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 15px;
  margin-top: 20px;
}

/* CARD */
.card {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

/* FOOTER */
footer {
  background: #0d6efd;
  color: white;
  text-align: center;
  padding: 15px;
  margin-top: 20px;
}